*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", serif;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: black;
    color: white;
    align-items: center;
    font-size: 1rem;
}
nav>ul{
    display: flex;
    gap: 2rem;
}

a{
    text-decoration: none;
    color: white;
}
li{
    list-style-type: none;
}

#menu-icon{
    width: 2rem;
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
}
.menu{
    fill: white;
}
main{
    padding: 1rem;
}
input{
    width: 100%;
    padding: 0.7rem 1rem;
}
.formItem{
    margin-bottom: 0.5rem;
}
button{
    background-color: black;
    color: white;
    padding: 0.8rem 3rem;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
}

@media screen and (max-width: 900px) {
    #loadingImg>img{
        top: 0px;
        width: 100%;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
    #menu-icon{
        display: block;
    }
    nav{
        display: none;
        height: 100vh;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1;
        padding: 4rem 5rem;
        background: black;
        border-left: 1px solid #ccc;
    }
}